@import '../vars';

.model-pane {
  .model.class-model {
    position: absolute;
    height: 200px;

    background-color: $color_card;
  }

  .model {
    .model-params {
      display: inline-block;
      position: relative;
      width: 100%;
      height: fit-content;
      min-height: 16px;
      // margin-bottom: 16px;

      .model-param {
        width: calc(100% - 2px);
        margin-bottom: 12px;
        background-color: $color_background;
        
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        .param-header {
          display: inline-block;
          position: relative;
          width: 100%;
          height: 24px;
          box-shadow: 0px -1px 6px 2px rgba(0,0,0,0.4);
          // margin-bottom: 6px;
          background-color: $color_hover_color;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;

          label {
            position: relative;
            font-family: Consolas, 'Courier New', monospace;
            color: $color_primary_text;
            top: 2px;
            left: 7px;
            margin-bottom: 0;
          }
        }
  
        .param-content {
          display: inline-block;
          position: relative;
          width: calc(100% - 18px);
          min-height: 16px;

          padding-top: 4px;
          padding-bottom: 8px;
          padding-left: 8px;
          padding-right: 8px;

          .param-content {
            margin-bottom: 4px;
          }

          label {
            padding-left: 2px;
          }
        }
      }

      label {
        margin-bottom: 9px;
      }
    }
  }
}
