@import '../vars';
@import 'pane';
@import 'class_model';

$model_pane_padding: 24px;
$model_content_padding: 12px;

.model-pane {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - (#{$model_pane_padding} * 2));
  height: calc(100% - (#{$model_pane_padding} * 2));

  overflow-y: auto;

  padding: $model_pane_padding;

  .model {
    display: block;
    position: relative;
    min-height: 64px;
    height: fit-content;
    margin-bottom: 24px;
    
    overflow: hidden;
    
    background-color: $color_card;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    transition: height 200ms, border-bottom-left-radius 200ms, border-bottom-right-radius 200ms;
    
    .model-header {
      width: 100%;
      height: 24px;
      background-color: $color_hover_color;
      box-shadow: 0px -1px 6px 2px rgba(0,0,0,0.4);
      margin-bottom: 6px;

      label {
        position: relative;
        font-family: Consolas, 'Courier New', monospace;
        color: $color_primary_text;
        top: 2px;
        left: 7px;
      }
    }

    .model-content {
      position: relative;
      bottom: 0;
      width: calc(100% - (#{$model_content_padding} * 2));
      height: calc(100% - #{$model_content_padding} * 2);

      label {
        position: relative;
        display: block;
        font-family: Consolas, 'Courier New', monospace;
        color: $color_primary_text;
        top: 2px;
        margin-bottom: 6px;
      }

      textarea {
        position: relative;
        width: calc(100% - 8px);
        top: 2px;
        left: 0px;
        resize: none;

        transition: color 120ms ease-out, border-color 120ms ease-out;

        font-family: Consolas, 'Courier New', monospace;

        background-color: black;
        border-color: 1px solid $color_background;
        color: $color_secondary_text;

        padding: 2px 4px;
      }

      textarea:focus {
        border-color: $color_secondary_text;
        border: 1px solid $color_3;
        outline: none !important;
        color: white;

        box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.33);
      }
    }

    .model-field.field-multi-line {
      position: relative;
      min-height: 27px;
      padding-bottom: 8px;
    }
  }

  .model.collapsed {

    min-height: 0px;
    height: 24px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .model-field.field-multi-line {
      position: relative;
      min-height: 0;
      padding-bottom: 8px;
    }
  }
}

.model-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  border-radius: 4px;
  backdrop-filter: contrast(1.1) brightness(0.4);
  overflow: hidden;
}


#code {
  position: relative;
  display: inline-block;
  float: right;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.33);

  overflow: scroll;
  scroll-behavior: smooth;
}

code {
  position: relative;
  top: 0;
  right: 0;
  width: max-content;
  // width: 100%;
  // height: 100%;

  overflow: hidden;

  // Makes the text pop out a little better.
  backdrop-filter: blur(0px);
  background-color: transparent;

  font-family: Consolas, 'Courier New', monospace;
  font-size: 10pt;
  font-weight: unset;

  .hljs {
    background-color: transparent;
    text-shadow: 1px 1px black;
  }
}

code.hljs {
  background-color: transparent;
}
