@import '../vars';
@import 'pane';
@import 'class_model';
@import 'group';

$model_pane_padding: 24px;
$model_content_padding: 12px;

.model-pane {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - (#{$model_pane_padding} * 2));
  height: calc(100% - (#{$model_pane_padding} * 2));

  overflow-y: scroll;

  padding: $model_pane_padding;

  .model.collapsed {
    height: 24px;
    margin-bottom: 1px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    box-shadow: none;

    .model-header {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
    }

    .model-content {
      position: relative;
      height: 0;
      padding-bottom: 8px;
    }
  }

  .model {
    display: block;
    position: relative;
    height: fit-content;
    margin-bottom: 24px;
    
    overflow: hidden;
    
    background-color: $color_card;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    transition: height 400ms ease-out, border-bottom-left-radius 200ms, border-bottom-right-radius 200ms;
    
    .model-header {
      width: 100%;
      height: 24px;
      background-color: $color_hover_color;
      box-shadow: 0px -1px 6px 2px rgba(0,0,0,0.4);
      margin-bottom: 6px;

      label {
        position: relative;
        font-family: Consolas, 'Courier New', monospace;
        color: $color_primary_text;
        top: 2px;
        left: 7px;
      }
    }

    .model-content {
      position: relative;
      bottom: 0;
      width: calc(100% - (#{$model_content_padding} * 2));
      height: calc(100% - #{$model_content_padding} * 2);
      padding-bottom: 8px;

      input[type=checkbox] {
        display: inline-block;
        position: relative;
        top: 4px;
      }
      
      label {
        position: relative;
        display: inline-block;
        font-family: Consolas, 'Courier New', monospace;
        color: $color_primary_text;
        top: 2px;
        margin-bottom: 6px;
        padding-left: 2px;
      }

      .model-field {
        position: relative;
        min-height: 27px;
        margin-bottom: 4px;
      }
    }

    textarea, input[type=text] {
      transition: color 120ms ease-out, border-color 120ms ease-out;
      font-family: Consolas, 'Courier New', monospace;

      background-color: black;
      border: 1px solid transparent;
      color: $color_secondary_text;
      outline: none !important;
      outline-width: 0 !important;

      padding: 2px 4px;
    }

    textarea {
      position: relative;
      width: calc(100% - 9px);
      top: 2px;
      left: 0px;
      resize: none;

      font-family: Consolas, 'Courier New', monospace;
      padding: 2px 4px;
    }

    textarea:focus, input[type=text]:focus {
      transition: color 30ms ease-out, border-color 30ms ease-out;

      border-color: $color_secondary_text;
      border: 1px solid $color_secondary_text;
      outline: none !important;
      color: white;

      box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.33);
    }
  }

  /** This allows for folded models to space prior to an open model. */
  .model.collapsed + :not(.collapsed) {
    margin-top: 24px;
  }

  .model.collapsed {
    min-height: 0px;
    height: 24px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .model-content {
      display: none;
      position: relative;
      min-height: 0;
      height: 0;
      padding-bottom: 8px;

      .group-field {
        display: none;
      }
    }
  }
}

.model-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  border-radius: 4px;
  backdrop-filter: contrast(1.1) brightness(0.4);
  overflow: hidden;
}

.model > .model-header {
  .collapse-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;

    border: 1px solid $color_secondary_text;
    // border-radius: 3px;
    background-color: $color_secondary_text;

    transition: border 100ms ease-out, background-color 100ms ease-out, border-radius 100ms ease-out;

    cursor: pointer;
  }

  .collapse-button:hover {
    border: 1px solid $color_primary_text;
    background-color: $color_primary_text;
  }
}

.model.collapsed > .model-header {
  .collapse-button {
    border: 1px solid $color_secondary_text;
    background-color: $color_background;
    border-radius: 0;

    transition: border 200ms ease-out, background-color 200ms ease-out, border-radius 100ms ease-out;
  }

  .collapse-button:hover {
    border: 1px solid $color_secondary_text;
    // border-radius: 3px;
    background-color: $color_secondary_text;
  }
}








#code {
  position: relative;
  display: inline-block;
  float: right;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.33);

  overflow: scroll;
  scroll-behavior: smooth;
}

code {
  position: relative;
  top: 0;
  width: max-content;
  float: left;
  // width: 100%;
  // height: 100%;

  overflow: hidden;

  // Makes the text pop out a little better.
  backdrop-filter: blur(0px);
  background-color: transparent;

  font-family: Consolas, 'Courier New', monospace;
  font-size: 10pt;
  font-weight: unset;

  .hljs {
    background-color: transparent;
    text-shadow: 1px 1px black;
  }
}

code.hljs {
  background-color: transparent;
}

.label-separator {
  width: calc(100% - 5px);
  top: 2px !important;
  margin-bottom: 9px !important;
  border: 1px solid black;
  left: 1px;
}