@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url($font_folder + 'HelveticaNeue-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Consolas';
  src: url($font_folder + 'Consolas.ttf') format('truetype');
} 

@font-face {
  font-family: 'UbuntuMono';
  src: url($font_folder + 'UbuntuMono-R.ttf') format('truetype');
}
