@import 'vars';

.model_list {
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 512px;
    min-width: 512px;
    max-width: 512px;
    height: 100%;
    background-color: $color_background;
    
    // box-shadow: rgba(0, 0, 0, 0.245) 3px 0px 18px;
    // border: 1px solid black;
    border-right: 1px solid rgba(0,0,0,0.8);

    .model_list_entry {
        // Position Stuff
        position: relative;
        display: block;
        left: -1px;
        top: 0;
        width: calc(100% - 9px);
        height: 30px;

        border: 1px solid rgba(0,0,0,0.5);
        border-right: 1px solid rgba(0,0,0,0.8);
        background-color: $color_hover_color;

        // Font Stuff
        line-height: 28px;
        padding-left: 9px;
        color: $color_primary_text;

        span {
            // Font Stuff
            font-size: 12px;
            font-weight: 400;
        }
    }
}

