@import '../vars';

.item-list {
  position: relative;
  display: block;
  left: -1px;
  top: 0;
  width: 100%;
  height: 100%;

  border: 1px solid rgba(0,0,0,0.5);
  border-right: 1px solid rgba(0,0,0,0.8);

  font-size: 12px;
  font-weight: 400;
  color: $color_primary_text;

  .list-header {
    position: relative;
    padding-left: 9px;
    // margin-bottom: 6px;

    background-color: $color_hover_color;
    
    line-height: 19px;

    label {
      position: relative;
      font-family: Consolas, 'Courier New', monospace;
      font-size: 11px;
    }
  }

  .list-contents {
    position: relative;
    display: block;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    .item {
      position: relative;
      display: block;
      left: 0;
      width: calc(100% - 12px);
      height: 19px;
      line-height: 18px;
      margin-bottom: 3px;
      overflow: hidden;

      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      box-shadow: none;

      cursor: pointer;

      transition: color 200ms, background-color 200ms;

      .hover-cube {
        opacity: 0;
        z-index: 2;
        position: absolute;
        top: -1px;
        left: -1px;
        width: 0;
        height: 19px;

        transition: left 200ms, opacity 200ms;

        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        border: 1px solid rgba(0,0,0,0.4);

        background-color: rgb(143, 165, 211);

        pointer-events: none;
      }

      label {
        z-index: 1;
        position: relative;
        left: 6px;
        
        font-family: Consolas, 'Courier New', monospace;
        font-size: 11px;

        transition: left 200ms;

        pointer-events: none;
      }
    }

    .item:hover {
      background-color: $color_hover_color;
      box-shadow: 1px 0 2px 2px rgba(16,16,16,0.3);

      label {
        left: 14px;
      }
    }

    .item.selected {
      background-color: $color_primary_text;
      color: black;
      font-weight: bolder;

      .hover-cube {
        opacity: 1;
        width: 10px;
        transition: opacity 200ms;
      }

      label {
        left: 14px;
      }
    }

    .item.selected:hover {
      transition: none;

      background-color: $color_primary_text;
      color: $color_hover_color;
      font-weight: bolder;
    }
  }
 }

 .search-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 7px;

  font-family: Consolas, 'Courier New', monospace;

  .search-bar-suggestions {
    z-index: 5;
    display: none;
    position: absolute;
    top: 16px;
    left: 1px;
    width: calc(100% - 3px);
    max-height: 512px;

    background-color: white;
    color: black;
    border: 1px solid black;
    // user-select: none;

    overflow-y: scroll;
    

    .suggestion {
      display: block;
      
      font-weight: 400;
      font-size: 13px;

      border: 1px solid transparent;

      cursor: pointer;
    }

    .suggestion:hover {
      background-color: $color_3;
      border: 1px solid rgba(0,0,0,0.5);
    }
  }

  input[type=text] {
    position: relative;
    top: 0;
    left: 2px;
    width: calc(100% - 5px);
    background-color: white;
    color: black;
    border: 1px solid transparent;
    outline: none !important;
    outline-width: 0 !important;
  }

  input[type=text]:focus {
    transition: color 30ms ease-out, border-color 30ms ease-out;

    border-color: $color_secondary_text;
    border: 1px solid $color_secondary_text;
    outline: none !important;

    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.33);
  }
 }